
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>My Orders</h3><p class="lead text-muted"></p>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br/>


    <div class="container">
        <div class="basket">
           
      
                <div class="basket-header">
                    <div class="row">
                        <div class="col-2">Product Details</div>
                        <div class="col-2">Order Number</div>
                        <div class="col-3">Order Date</div>
                        <div class="col-3">Shipping Date</div>     
                        <div class="col-2">Action</div>
                      
                    </div>
                </div>
                <div class="basket-body">
                    <!-- Product-->
                    <div class="item" ng-repeat="item in orders track by $index">
                        <div class="row d-flex align-items-center">
                            <div class="col-2"><span><a href="" ng-click="getorderitem(item.id)" class="btn btn-primary  btn-sm"><i style="color:white" class="fa fa-list"></i></a></span></div>

                            <div class="col-2">    
                             {{item.orderNumber}}
                            </div>
                            <div class="col-3"><span>{{item.orderdate| date:  "dd.MM.y"  }}</span></div>
                            <div class="col-3">
                                <span>{{item.orderdate| date:  "dd.MM.y" }}</span>
                            </div>
                            <div class="col-2"><a href="" class="btn btn-primary btn-sm" ><span style="color:white">Cancel Order</span></a></div>
                          </div>
                    </div>
                    <!-- Product-->

                </div>
            </div>
        </div>

    <!--<div class="container">
        <div class="CTAs d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row"><a href="#" ng-hide="shoppingCart.length==0" class="btn btn-template wide">Continue Shopping</a></div>
    </div>-->

