@model SHIVAM_ECommerce.ViewModels.ProductViewmodel

@{
    ViewBag.Title = "Create";
}

<style>
    .starS{
        color:#f55050;
    }
</style>
<div class="row page-titles">


    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Create Product</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/Product/GetAllProducts">Products</a></li>
            <li class="breadcrumb-item active">Create Product</li>
        </ol>
    </div>
</div>
<div ng-app="myFormApp" class="container-fluid">
    <toaster-container></toaster-container>
    <div class="" ng-controller="ProductController">
 

        @using (Html.BeginForm("Create"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                     
                            <br />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Product Name<span class="starS">*</span></label>
                                      
                                            <input type="text" ng-model="ProductObject.ProductName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Product Code<span class="starS">*</span></label>
                                            <input type="text" ng-model="ProductObject.ProductCode" class="form-control" />
                                 
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Product Price</label>

                                            <input type="text" ng-model="ProductObject.ProductPrice" class="form-control" />
                                     
                                        </div>
                                    </div>*@
                                 
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">SKU<span class="starS">*</span></label>
                                            <input type="text" ng-model="ProductObject.SKU" class="form-control" />
                                   
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <label class="form-label">Description</label>
                                            <textarea rows="6" class="form-control" id="Description" ng-model="ProductObject.Description" name="Description" placeholder="Here can be your description"></textarea>
                                        </div>
                                    </div>
                                </div>

                        
                            </div>

                        </div>
                      
                            <div class="btn-list text-left">
                                <button type="button" ng-disabled="!IsValidProduct()" ng-click="SaveProduct()" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    Save changes
                                </button>


                                <a href="/Product/GetAllProducts" class="btn btn-secondary btn-gray"> <i class="fa fa-times"></i> Cancel</a>

                       

                        </div>
                    </div>
                    <div class="col-lg-7">

                        <div class="card">
                          
                            <br />
                            <div class="card-body">
                                <div class="row">
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Select Supplier</label>
                                            <select ng-model="ProductObject.SupplierID" class="form-control">
                                                <option value="" selected="selected">Select</option>
                                                <option ng-repeat="x in Suppliers track by x.Id" value="{{x.Id}}">{{x.Name}}</option>
                                            </select>

                                        </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Select Manufacturer</label>
                                            <select ng-model="ProductObject.ManufacturerID" class="form-control">
                                                <option value="" selected="selected">Select</option>
                                                <option ng-repeat="x in Manfs" value="{{x.Id}}">{{x.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Select Category<span class="starS">*</span></label>
                                            <select ng-model="ProductObject.CategoryID" class="form-control">
                                                <option value="" selected="selected">Select</option>

                                                <option ng-repeat="x in Categories" value="{{x.Id}}">{{x.Name}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Select Unit of measure<span class="starS">*</span></label>
                                            <select ng-model="ProductObject.UnitOfMeasureID" class="form-control">
                                                <option value="" selected="selected">Select</option>
                                                <option ng-repeat="x in UnitsOfMeasureList" value="{{x.Id}}">{{x.Name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>


                


            </div>
        }

    </div>
</div>


@section scripts
{
<script>
        var _productData = '@Html.Raw(Json.Encode(Model))';
</script>
    <link href="~/Content/toaster.css" rel="stylesheet" />

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/toaster.js"></script>
    <script src="~/Scripts/controllers/Product.js"></script>
}