@model SHIVAM_ECommerce.ViewModels.ProductViewmodel
@{
    ViewBag.Title = "Details";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
}

<div class="row page-titles">


    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Product Details</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/Product/GetAllProducts">Products</a></li>
            <li class="breadcrumb-item active">Product Details</li>
        </ol>
    </div>
</div>


<div class="container-fluid" ng-app="Details" ng-controller="DetailsController">
  
            <div class="row">
                <div class="col-md-4">
                    <div class="card">

                        <div class="card-body">

                            <div>
                                <img style="margin-left:70px" src="" id="mainImage" alt="Alternate Text" height="200" />
                            </div>
                            <div class="listImages">

                            </div>
                        </div>
                    </div>
                        </div>


                <div class="col-md-8">

                    <div style="min-height:280px;" class="card">

                        <div class="card-body">

                            <h3 style="margin-bottom:0;">{{ProductDetails.ProductName}} [ ₹{{ProductDetails.allAttributes[0].price}}]</h3>
                            <p>{{ProductDetails.Description}}</p>

                            <br />
                          

                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Quantity</th>
                                        <th>Low Quantity</th>
                                        <th>High Quantity</th>
                                        <th>SKU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ProductDetails.allAttributes[0].Quantity}}</td>
                                        <td>{{ProductDetails.allAttributes[0].lowQuantityThreshold}}</td>
                                        <td>{{ProductDetails.allAttributes[0].highQuantityThreshold}}</td>
                                        <td>{{ProductDetails.SKU}}</td>
                                    </tr>
                                </tbody>


                            </table>
                         
                         

                        </div>
                    </div>

                        </div>


                        
                    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <h4>Product Attribute details</h4>

            <table class="table table-bordered">

                <tbody>
                    <tr ng-repeat="attr in attributesVALUE">
                        <td style="text-align:right; font-weight:700;" ng-bind="attrName(attr.AttributeID)"></td>
                        <td style="text-align:left;">
                            {{attr.Value}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    

                </div>

@section scripts{

    <script>
        var _productData = '@Html.Raw((jsonModel))';
        console.log("productDetails");
        console.log(_productData);


        $(document).on("click", ".listImages img", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#mainImage").attr("src", $(this).attr("src"));
        });
    </script>
    <link href="~/Content/toaster.css" rel="stylesheet" />

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/toaster.js"></script>
    <script src="~/Scripts/controllers/Details.js"></script>
}